/* Give your page a fun background color */
body{
    background-color: darksalmon;
}
/* Make the header and footer a different color from the background */
header{
    background-color: darkcyan;
}
footer{
    background-color: deeppink;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color: chartreuse;
    font-style: italic;
}
/* Put a border around your image */
img{
    height: 500px;
    border: 1px solid black;
}
/* Change the font-family of your list */
ul{
    font-family: 'Times New Roman', Times, serif;
}